* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CUSTOM */

.scene {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#111425, #3751e0);
    background-attachment: fixed;
    overflow: hidden;
}

.moon {
    position: relative;
    top: 20%;
    left: 30%;
    width: calc(100vw/15);
    height: calc(100vw/15);
    min-width: 70px;
    min-height:70px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 10;
}

.moon::after {
    content: '';
    position: absolute;
    top: calc(-100%/9);
    left: calc(100%/5);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#111425, #3751e0);
    background-attachment: fixed;
}

.forest{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    min-width: 1000px;
    z-index:1000;
    transform: scale(1.2);
}

.scene i{
    position: absolute;
    background: #fff;
    border-radius: 50%;
    animation: animate linear infinite;
}

@keyframes animate{
    0%
    {
        opacity: 0;
        transform: translateY(0);
    }
    10%,90%{
        opacity: 1;
    }
    100%
    {
        opacity: 0;
        transform: translateY(-100px);
    }
}

.cloud1{
    position: absolute;
    top:0;
    left:0;
    max-width: calc(100vw/2);
    min-width: 300px;
    z-index:10000;
    animation: animateCloud 50s linear infinite;
}

.cloud2{
    position: absolute;
    top:0;
    left:0;
    max-width: calc(100vw/2);
    min-width: 300px;
    z-index:10000;
    animation: animateCloud 50s linear infinite;
}


.cloud3{
    position: absolute;
    top:30%;
    left:0;
    max-width: calc(100vw/3);
    min-width: 400px;
    z-index:10000;
    animation: animateCloud 70s linear infinite;
    animation-delay: -20s;
}

.cloud4{
    position: absolute;
    top:30%;
    left:30%;
    max-width: calc(100vw/3);
    min-width: 300px;
    z-index:10000;
    animation: animateCloud 70s linear infinite;
    animation-delay: -20s;
}

.cloud5{
    position: absolute;
    top:20%;
    left:50%;
    max-width: calc(100vw/2);
    min-width: 300px;
    z-index:10000;
    animation: animateCloud 40s linear infinite;
    animation-delay: -5s;
}

.cloud6{
    position: absolute;
    top:10%;
    left:80%;
    max-width: calc(100vw/2);
    min-width: 300px;
    z-index:10000;
    animation: animateCloud 30s linear infinite;
    animation-delay: -10s;
}


@keyframes animateCloud{
    0%{
        transform: translateX(-100%) scale(1);
    }

    100%{
        transform: translateX(400px) scale(1.5);
    }
}